<br>
{{#if error}}
    <h1 class="card-container" style="color: white">Error</h1>
{{else}}
    <h1 class="card-container" style="color: white"><b>Profile</b></h1>
{{/if}}
{{#if error}}
    <h2 class="card-container" style="color: white"><b>Authorization error! </b>Go to <a class="white-link" href="/">home page</a> and sign in again.</h2>
{{/if}}
{{#if user}}
<div class="card-group card-container top3box">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{user.images.0.url}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body" style="text-align: left">
                <h2 class="card-title">@{{user.display_name}}</h2>
                <div class="card-text"><b>Country</b></div>
                <p class="card-text">{{user.country}}</p>
                <div class="card-text"><b>Email</b></div>
                <p class="card-text">{{user.email}}</p>
                <div class="card-text"><b>Followers</b></div>
                <p class="card-text">{{user.followers.total}}</p>
                <div class="card-text"><b>Subscription status</b></div>
                <p class="card-text">{{user.product}}</p>
                <a href="/logout" type="button" class="btn btn-success">Logout</a>
            </div>
        </div>
    </div>
</div>
</div>
{{/if}}